@import url('https://fonts.googleapis.com/css?family=Quicksand');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html,body
{
    font-family: 'Quicksand', sans-serif;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}
.main
{
  position: relative;  
}
header
{
    display: flex;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    min-height: 75px;
  padding: 0px 120px;
  background-color: #eee;
}
#logo
{
    width: 50vw;;
}
 #logo img
{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    max-width: 300px;
    
}
nav
{
    font-weight: 400;
}
nav ul
{
    width: 35vw;
    display: flex;
    flex-direction: row;
    
}
nav li
{
    list-style: none;
    padding-bottom: 5px;
    padding-left: 85px;
   
}
a{
    color: black;
    text-decoration: none;
}
.container {
    max-width: 1000px;
    width: 100%;
    margin: 10px auto;
  }
  .grid {
    display: flex;
  }
#section1
{
    margin-left: 0 auto;
    align-items: center;
  justify-content: center;
  text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.btn
{
    margin: 10px;
    padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  
}
.btn:hover
{
    background-color: yellowgreen;
}
#inputEmail
{
    margin: 10px;
    width: 300px;
    height: 25px;
    border: 1px solid #e4d9d9;
    text-align: center;
    padding: 10px;
    color: black;
    border-radius: 10px;
}

#features {
    margin-top: 30px;
  }
#features #icon {
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
  }
#features #desc { 
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
  }
  #aboutUs
  {
    max-width: 560px;
    width: 100%;
  }
  #pricing
  {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 60px;
  }
  #priceBox
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;

  }
  #threeMonth, #sixMonth ,#tewelMonth
  {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
      
  }
  #priceBox h2
  {
    margin-top: 15px;
  }
  #priceBox ul
  {
      margin: 15px 0;
  }
  #priceBox li
  {
      margin: 5px 0;
      list-style: none;
  }
  footer
{
    background-color: #ddd;
    margin-top: 50px;
}
footer ul
{
    display: flex;
    justify-content: flex-end;
    
}

footer li
{
    font-weight: 600;
    padding:0 10px;
}
footer span
{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}
@media screen and (max-width:600px)
{

    header
    {
        flex-wrap: wrap;
        
    }
    #logo
    {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
    #logo img
    {
        
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }
    nav
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    text-align: center;
    }
    nav ul
    {
        padding: 10px;
        flex-direction: column;
    }
    nav li
    {
        padding-left: 10px;
        padding-bottom: 5px;
        font-size: 6vw;
    }

    #section1
    {
        margin-top:200px;
    }
    #features
    {
        margin-top: 50px;
    }
    #features #icon
{
    font-size: 2.5em;
    height: 50px;
}
#features #desc
{
    height: 50px;
}
#aboutUs
{
    margin-top:50px;
    
}
#pricing
{
    flex-direction: column;
}
#priceBox
{
   
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}



    
}



@keyframes yourAnimation{
    0%{
        transform: scale(15) translateX(35px) translateY(25px);
        }
    50%{
        transform: scale(9) translateX(25px) translateY(15px);
        }
    100%{
        transform: scale(1.5);
        }
}

.ani img{
    animation: yourAnimation 2s 1 0s linear;
}